Este notebook é uma introdução aos principais conceitos e bibliotecas utilizados em processamento de linguagem natural provido pelo canal KPG Talkie no youtube.

O objetivo é me familiarizar com esses conceitos e as bibliotecas em um projeto (análise de sentimento de tweets) do início ao fim e posteriormente aplicá-los em outros problemas de processamento de linguagem natural.

[Link do vídeo](https://www.youtube.com/watch?v=VyDmQggfsZ0)

[Link do dataset disponibilizado no Kaggle](https://www.kaggle.com/kazanova/sentiment140)

No dataset temos 16 milhões de tweets pegos na API do tweeter e disponibilizado pelo link colocado acima pela ṕlataforma do Kaggle. Temos cinco (nomeadas de 0 a 5) colunas que representam:
    
    0-> sentimento do tweet (0 é negativo e 4 é positivo)
    
    1-> id do tweet
    
    2-> data do tweet
    
    3-> no query
    
    4-> nome do usuário no tweeter
    
    5-> o tweet

Installing libraries

SpaCy is an open-source software library that is published and distributed under MIT license, and is developed for performing simple to advanced Natural Language Processing (N.L.P) tasks such as tokenization, part-of-speech tagging, named entity recognition, text classification, calculating semantic similarities between text, lemmatization, and dependency parsing, among others.

In [1]:
#!pip install -U spacy
#!pip install -U spacy-lookups-data
#!python -m spacy download en_core_web_sm
#!python -m spacy download en_core_web_md
#!python -m spacy download en_core_web_lg

In this article, we are going to perform the below tasks.


*   General Feature Extraction

*   File loading

*   Word counts

*   List item

*   Characters count

*   Average characters per word

*   Stop words count

*   Count #HashTags and @Mentions

*   If numeric digits are present in twitts

*   Upper case word counts

Preprocessing and Cleaning

*  Lower case

*  Contraction to Expansion

*  Emails removal and counts

*  URLs removal and counts

*  Removal of RT

*  Removal of Special Characters

*  Removal of multiple spaces

*  Removal of HTML tags

*  Removal of accented characters

*  Removal of Stop Words

*  Conversion into base form of words

*  Common Occuring words Removal

*  Rare Occuring words Removal


*  Word Cloud

*  Spelling Correction

*  Tokenization

*  Lemmatization

*  Detecting Entities using NER

*  Noun Detection

*  Language Detection

*  Sentence Translation

*  Using Inbuilt Sentiment Classifier

Advanced Text Processing and Feature Extraction

*  N-Gram, Bi-Gram etc

*  Bag of Words (BoW)

*  Term Frequency Calculation TF

*  Inverse Document Frequency IDF

*  TFIDF Term Frequency – Inverse Document Frequency

*  Word Embedding Word2Vec using SpaCy

*  Machine Learning Models for Text Classification

*  SGDClassifier

*  LogisticRegression

*  LogisticRegressionCV

*  LinearSVC

*  RandomForestClassifier

Importing libraries

In [2]:
import pandas as pd
import numpy as np

import spacy
from spacy.lang.en.stop_words import STOP_WORDS

In [3]:
df = pd.read_csv('tweet16m.csv', encoding = 'latin1', header = None)
df.head()

,0,1,2,3,4,5
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [4]:
#Na coluna 5 temos o tweet e na coluna zero temos a classificação do teweet como positivo ou negativo
df= df[[5, 0]]

In [5]:
df.columns= ['tweet', 'sentiment']
df.head()

                                               tweet  sentiment
0  @switchfoot http://twitpic.com/2y1zl - Awww, t...          0
1  is upset that he can't update his Facebook by ...          0
2  @Kenichan I dived many times for the ball. Man...          0
3    my whole body feels itchy and like its on fire           0
4  @nationwideclass no, it's not behaving at all....          0

In [6]:
#Vamos ver o balanceamento das duas classes
df['sentiment'].value_counts()

4    800000
0    800000
Name: sentiment, dtype: int64

In [7]:
map_sent= {0: 'negativo', 4: 'positivo'}

Word Counts

In [8]:
df['word_counts']= df['tweet'].apply(lambda x: len(str(x).split()))
df.head()

                                               tweet  sentiment  word_counts
0  @switchfoot http://twitpic.com/2y1zl - Awww, t...          0           19
1  is upset that he can't update his Facebook by ...          0           21
2  @Kenichan I dived many times for the ball. Man...          0           18
3    my whole body feels itchy and like its on fire           0           10
4  @nationwideclass no, it's not behaving at all....          0           21

Character Counts

In [9]:
df['char_counts']= df['tweet'].apply(lambda x: len(x))
df.head()

,tweet,sentiment,word_counts,char_counts
0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0,19,115
1,is upset that he can't update his Facebook by ...,0,21,111
2,@Kenichan I dived many times for the ball. Man...,0,18,89
3,my whole body feels itchy and like its on fire,0,10,47
4,"@nationwideclass no, it's not behaving at all....",0,21,111

Average Word Lenght

In [10]:
def get_avg_word_len(x):
    words= x.split()
    word_len= 0 
    for word in words:
        word_len= word_len + len(word)
    return word_len / len(words)  # != len(x) / len(words)

In [11]:
df['avg_word_len']= df['tweet'].apply(lambda x: get_avg_word_len(x))
df.head()

,tweet,sentiment,word_counts,char_counts,avg_word_len
0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0,19,115,5.052632
1,is upset that he can't update his Facebook by ...,0,21,111,4.285714
2,@Kenichan I dived many times for the ball. Man...,0,18,89,3.944444
3,my whole body feels itchy and like its on fire,0,10,47,3.700000
4,"@nationwideclass no, it's not behaving at all....",0,21,111,4.285714

Stop Words Count

In [12]:
print(STOP_WORDS)

#Obs: ser calculoso com a remoção direta das stop words. Analisar quais são e se o problema 
#não permite q algumas delas sejam removidas dos documentos para não perder informação importante

{'moreover', 'take', 'move', 'or', 'i', 'am', 'somewhere', 'name', 'anything', '‘ve', 'mine', 'ever', 'yourselves', '‘s', 'nine', 'nobody', 'until', 'they', 'fifty', 'perhaps', 'however', 'against', 'whereas', 'alone', 'beside', 'this', 'various', 'there', 'somehow', 'made', 'show', 'by', 'now', '’s', 'four', 'whole', 'him', 'its', 'because', 'used', 'done', '‘d', 'whatever', 'among', '’re', 'before', 'almost', '‘re', 'itself', 'still', 'be', 'thru', 'anyone', 'those', 'than', 'same', 'everyone', 'over', '’m', 'often', 'only', 'no', 'must', 'has', 'whereby', 'whoever', 'below', '’ve', 'ours', 'while', 'around', 'serious', 'afterwards', 'someone', 'might', 'once', 'within', 'either', 'such', 'anyhow', 'own', 'an', 'less', 'never', 'into', 'when', 'neither', 'whither', 'is', 'between', 'where', 'whereupon', 'the', 'throughout', '’ll', 'many', 'we', 'anyway', 'none', 'eight', 'all', 'without', 'go', 'really', 'to', 'several', 'how', 'along', 'if', 'sometimes', 'thereby', 'should', 'noone', 'during', 'nor', 'seems', 'been', 'any', 'doing', 'very', 'therefore', 'he', 'next', 'whose', 'n‘t', 'across', 'former', 'every', 'yet', 'others', 'though', 'about', 'who', 'in', 'sometime', 'down', 'for', 'them', 'toward', 'bottom', 'nevertheless', '‘m', 'seem', 'both', "'s", 'her', 'are', 'via', 'twenty', 'namely', 'wherever', 'much', 'per', 'becoming', 'part', 'ten', 'nowhere', 'mostly', 'first', 'that', 'whereafter', 'whence', 'wherein', 'whom', 'will', 'call', 'again', 'thereupon', 'nothing', 'always', 'everywhere', 'his', 'so', 'third', 'behind', 'of', 'just', 'indeed', 'myself', 'say', 'each', 'at', 'latterly', 'ourselves', 'due', 'would', 'eleven', 'else', 'my', 'ca', 'seeming', 'otherwise', 'five', 'under', 'full', 'since', 'you', 'further', 'upon', 'with', 'few', 'beforehand', 'may', 'a', 'make', 'therein', 'keep', 'up', 'last', 'using', 'put', 'also', 'six', 'us', 'herself', 'became', 'thence', 'formerly', 'your', 'hereafter', 'fifteen', 'on', 'thereafter', 'although', 'it', 'then', 'empty', 'do', 'some', 'except', 'had', 'which', 'hereby', 'already', 'were', 'quite', 'hundred', 'himself', 'have', 'get', 'amount', 'yourself', 'amongst', 'these', 'through', 'she', 'something', 're', 'can', '’d', 'hereupon', 'together', 'become', 'give', 'above', 'our', 'towards', "'ll", 'was', 'being', 'anywhere', 'and', 'forty', 'twelve', 'cannot', 'becomes', 'hence', 'more', "'re", 'here', 'least', 'herein', 'their', 'hers', 'latter', 'seemed', 'elsewhere', 'another', 'onto', "'ve", 'sixty', 'unless', 'side', 'two', 'n’t', 'whenever', 'rather', 'top', 'front', 'off', 'see', 'too', 'why', 'did', 'after', 'besides', 'themselves', 'not', 'me', 'as', "n't", 'from', 'most', 'out', "'m", 'even', 'one', 'yours', "'d", 'everything', 'does', 'regarding', 'other', 'back', 'enough', '‘ll', 'whether', 'meanwhile', 'but', 'please', 'beyond', 'what', 'well', 'could', 'thus', 'three'}

In [13]:
#Contagem de stop words

df['stop_words_counts']= df['tweet'].apply(lambda x: len([word for word in x.split() if word in STOP_WORDS]))
df.head()

,tweet,sentiment,word_counts,char_counts,avg_word_len,stop_words_counts
0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0,19,115,5.052632,4
1,is upset that he can't update his Facebook by ...,0,21,111,4.285714,9
2,@Kenichan I dived many times for the ball. Man...,0,18,89,3.944444,7
3,my whole body feels itchy and like its on fire,0,10,47,3.700000,5
4,"@nationwideclass no, it's not behaving at all....",0,21,111,4.285714,10

Count #HashTags and @Mentions

In [14]:
df['hashtags_count']= df['tweet'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
df['mentions_count']= df['tweet'].apply(lambda x: len([x for x in x.split() if x.startswith('@')]))

df.head()

,tweet,sentiment,word_counts,char_counts,avg_word_len,stop_words_counts,hashtags_count,mentions_count
0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0,19,115,5.052632,4,0,1
1,is upset that he can't update his Facebook by ...,0,21,111,4.285714,9,0,0
2,@Kenichan I dived many times for the ball. Man...,0,18,89,3.944444,7,0,1
3,my whole body feels itchy and like its on fire,0,10,47,3.700000,5,0,0
4,"@nationwideclass no, it's not behaving at all....",0,21,111,4.285714,10,0,1

If numeric digits are present in twitts

In [15]:
df['numerics_count']= df['tweet'].apply(lambda x: len([n for n in x.split() if n.isdigit()]))
df.head()

,tweet,sentiment,word_counts,char_counts,avg_word_len,stop_words_counts,hashtags_count,mentions_count,numerics_count
0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0,19,115,5.052632,4,0,1,0
1,is upset that he can't update his Facebook by ...,0,21,111,4.285714,9,0,0,0
2,@Kenichan I dived many times for the ball. Man...,0,18,89,3.944444,7,0,1,0
3,my whole body feels itchy and like its on fire,0,10,47,3.700000,5,0,0,0
4,"@nationwideclass no, it's not behaving at all....",0,21,111,4.285714,10,0,1,0

Upper case word counts

In [16]:
#Contagem importante para este problema porque é usual quando alguém está com raiva/triste 
#tweetar em letras maiúsculas
df['upper_counts']= df['tweet'].apply(lambda x: len([u for u in x.split() if u.isupper() and len(x)>3]))
df.head()

,tweet,sentiment,word_counts,char_counts,avg_word_len,stop_words_counts,hashtags_count,mentions_count,numerics_count,upper_counts
0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0,19,115,5.052632,4,0,1,0,1
1,is upset that he can't update his Facebook by ...,0,21,111,4.285714,9,0,0,0,0
2,@Kenichan I dived many times for the ball. Man...,0,18,89,3.944444,7,0,1,0,1
3,my whole body feels itchy and like its on fire,0,10,47,3.700000,5,0,0,0,0
4,"@nationwideclass no, it's not behaving at all....",0,21,111,4.285714,10,0,1,0,1

In [17]:
#Verificando tweet como exemplo do significado das letras maiúsculas mencionado

df.iloc[96]['tweet']

"so rylee,grace...wana go steve's party or not?? SADLY SINCE ITS EASTER I WNT B ABLE 2 DO MUCH  BUT OHH WELL....."

Preprocessing and Cleaning

Lower case conversion

In [18]:
df['tweet']= df['tweet'].apply(lambda x: x.lower())
df.head(2)

,tweet,sentiment,word_counts,char_counts,avg_word_len,stop_words_counts,hashtags_count,mentions_count,numerics_count,upper_counts
0,"@switchfoot http://twitpic.com/2y1zl - awww, t...",0,19,115,5.052632,4,0,1,0,1
1,is upset that he can't update his facebook by ...,0,21,111,4.285714,9,0,0,0,0

Contraction to Expansion

In [19]:
#Dicionário para retornar contrações para a forma de escrita formal
contractions = { 
"ain't": "am not",
"aren't": "are not",
"can't": "cannot",
"can't've": "cannot have",
"'cause": "because",
"could've": "could have",
"couldn't": "could not",
"couldn't've": "could not have",
"didn't": "did not",
"doesn't": "does not",
"don't": "do not",
"hadn't": "had not",
"hadn't've": "had not have",
"hasn't": "has not",
"haven't": "have not",
"he'd": "he would",
"he'd've": "he would have",
"he'll": "he will",
"he'll've": "he will have",
"he's": "he is",
"how'd": "how did",
"how'd'y": "how do you",
"how'll": "how will",
"how's": "how does",
"i'd": "i would",
"i'd've": "i would have",
"i'll": "i will",
"i'll've": "i will have",
"i'm": "i am",
"i've": "i have",
"isn't": "is not",
"it'd": "it would",
"it'd've": "it would have",
"it'll": "it will",
"it'll've": "it will have",
"it's": "it is",
"let's": "let us",
"ma'am": "madam",
"mayn't": "may not",
"might've": "might have",
"mightn't": "might not",
"mightn't've": "might not have",
"must've": "must have",
"mustn't": "must not",
"mustn't've": "must not have",
"needn't": "need not",
"needn't've": "need not have",
"o'clock": "of the clock",
"oughtn't": "ought not",
"oughtn't've": "ought not have",
"shan't": "shall not",
"sha'n't": "shall not",
"shan't've": "shall not have",
"she'd": "she would",
"she'd've": "she would have",
"she'll": "she will",
"she'll've": "she will have",
"she's": "she is",
"should've": "should have",
"shouldn't": "should not",
"shouldn't've": "should not have",
"so've": "so have",
"so's": "so is",
"that'd": "that would",
"that'd've": "that would have",
"that's": "that is",
"there'd": "there would",
"there'd've": "there would have",
"there's": "there is",
"they'd": "they would",
"they'd've": "they would have",
"they'll": "they will",
"they'll've": "they will have",
"they're": "they are",
"they've": "they have",
"to've": "to have",
"wasn't": "was not",
" u ": " you ",
" ur ": " your ",
" n ": " and "}

In [20]:
def cont_to_exp(x):
    if type(x) is str:
        for key in contractions:
            value = contractions[key]
            x = x.replace(key, value)
        return x
    else:
        return x

In [21]:
x= "hi, i'd be happy"

cont_to_exp(x)

'hi, i would be happy'

In [22]:
%%time
df['tweet']= df['tweet'].apply(lambda x: cont_to_exp(x))

CPU times: user 29.3 s, sys: 46.6 ms, total: 29.3 s
Wall time: 29.3 s

In [23]:
df.head()

,tweet,sentiment,word_counts,char_counts,avg_word_len,stop_words_counts,hashtags_count,mentions_count,numerics_count,upper_counts
0,"@switchfoot http://twitpic.com/2y1zl - awww, t...",0,19,115,5.052632,4,0,1,0,1
1,is upset that he cannot update his facebook by...,0,21,111,4.285714,9,0,0,0,0
2,@kenichan i dived many times for the ball. man...,0,18,89,3.944444,7,0,1,0,1
3,my whole body feels itchy and like its on fire,0,10,47,3.700000,5,0,0,0,0
4,"@nationwideclass no, it is not behaving at all...",0,21,111,4.285714,10,0,1,0,1

Emails removal and counts

In [24]:
import re

In [25]:
x= 'hi, my email me at email@email.com another@email.com'

re.findall(r'([a-zA-Z0-9+._-]+@[a-zA-Z0-9._-]+\.[a-zA-Z0-9_-]+)', x)

['email@email.com', 'another@email.com']

In [26]:
df['email']= df['tweet'].apply(lambda x: re.findall(r'([a-zA-Z0-9+._-]+@[a-zA-Z0-9._-]+\.[a-zA-Z0-9_-]+)', x))
df.head()

,tweet,sentiment,word_counts,char_counts,avg_word_len,stop_words_counts,hashtags_count,mentions_count,numerics_count,upper_counts,email
0,"@switchfoot http://twitpic.com/2y1zl - awww, t...",0,19,115,5.052632,4,0,1,0,1,[]
1,is upset that he cannot update his facebook by...,0,21,111,4.285714,9,0,0,0,0,[]
2,@kenichan i dived many times for the ball. man...,0,18,89,3.944444,7,0,1,0,1,[]
3,my whole body feels itchy and like its on fire,0,10,47,3.700000,5,0,0,0,0,[]
4,"@nationwideclass no, it is not behaving at all...",0,21,111,4.285714,10,0,1,0,1,[]

In [27]:
df['emails_count']= df['email'].apply(lambda x: len(x))
df.head()

,tweet,sentiment,word_counts,char_counts,avg_word_len,stop_words_counts,hashtags_count,mentions_count,numerics_count,upper_counts,email,emails_count
0,"@switchfoot http://twitpic.com/2y1zl - awww, t...",0,19,115,5.052632,4,0,1,0,1,[],0
1,is upset that he cannot update his facebook by...,0,21,111,4.285714,9,0,0,0,0,[],0
2,@kenichan i dived many times for the ball. man...,0,18,89,3.944444,7,0,1,0,1,[],0
3,my whole body feels itchy and like its on fire,0,10,47,3.700000,5,0,0,0,0,[],0
4,"@nationwideclass no, it is not behaving at all...",0,21,111,4.285714,10,0,1,0,1,[],0

In [28]:
#Total de tweets com ao menos um e_mail contido neles
len(df[df['emails_count']>0])

564

In [29]:
x= 'hi, my email me at email@email.com another@email.com'

x= re.sub(r'([a-zA-Z0-9+._-]+@[a-zA-Z0-9._-]+\.[a-zA-Z0-9_-]+)', '', x)

print(x)

hi, my email me at

In [30]:
#Removendo e-mails
df['tweet']= df['tweet'].apply(lambda x: re.sub(r'([a-zA-Z0-9+._-]+@[a-zA-Z0-9._-]+\.[a-zA-Z0-9_-]+)', '', x))

In [31]:
df[df['emails_count']>0].head()

,tweet,sentiment,word_counts,char_counts,avg_word_len,stop_words_counts,hashtags_count,mentions_count,numerics_count,upper_counts,email,emails_count
4054,i want a new laptop. hp tx2000 is the bomb. :...,0,20,103,4.150000,6,0,0,0,4,[gabbehhramos@yahoo.com],1
7917,who stole ?,0,3,31,9.000000,1,0,0,0,0,[elledell@gmail.com],1
8496,@alexistehpom really? did you send out all th...,0,20,130,5.500000,11,0,1,0,0,[missataari@gmail.com],1
10290,@laureystack awh...that is kinda sad lol add ...,0,8,76,8.500000,0,0,1,0,0,[hello.kitty.65@hotmail.com],1
16413,"@jilliancyork got 2 bottom of it, human error...",0,21,137,5.428571,7,0,1,1,0,[press@linkedin.com],1

Count URLs and Remove it

In [32]:
x= 'hi, watch the video on https://youtube.com/kgptalkie'

re.findall(r'(http|ftp|https)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?', x)

[('https', 'youtube.com', '/kgptalkie')]

In [33]:
df['urls_flag']= df['tweet'].apply(lambda x: len(re.findall(r'(http|ftp|https)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?', x)))

In [34]:
#Removendo links
df['tweet']= df['tweet'].apply(lambda x: re.sub(r'(http|ftp|https)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?', '', x))

In [35]:
df.head()

,tweet,sentiment,word_counts,char_counts,avg_word_len,stop_words_counts,hashtags_count,mentions_count,numerics_count,upper_counts,email,emails_count,urls_flag
0,"@switchfoot - awww, that is a bummer. you sh...",0,19,115,5.052632,4,0,1,0,1,[],0,1
1,is upset that he cannot update his facebook by...,0,21,111,4.285714,9,0,0,0,0,[],0,0
2,@kenichan i dived many times for the ball. man...,0,18,89,3.944444,7,0,1,0,1,[],0,0
3,my whole body feels itchy and like its on fire,0,10,47,3.700000,5,0,0,0,0,[],0,0
4,"@nationwideclass no, it is not behaving at all...",0,21,111,4.285714,10,0,1,0,1,[],0,0

Remove RT (retweet)

In [36]:
df['tweet']= df['tweet'].apply(lambda x: re.sub('RT', '', x))

Removing special characters and punctuation

In [37]:
df['tweet']= df['tweet'].apply(lambda x: re.sub('[^A-Z a-z 0-9-]+', '', x))

In [38]:
df.head()

,tweet,sentiment,word_counts,char_counts,avg_word_len,stop_words_counts,hashtags_count,mentions_count,numerics_count,upper_counts,email,emails_count,urls_flag
0,switchfoot - awww that is a bummer you shoul...,0,19,115,5.052632,4,0,1,0,1,[],0,1
1,is upset that he cannot update his facebook by...,0,21,111,4.285714,9,0,0,0,0,[],0,0
2,kenichan i dived many times for the ball manag...,0,18,89,3.944444,7,0,1,0,1,[],0,0
3,my whole body feels itchy and like its on fire,0,10,47,3.700000,5,0,0,0,0,[],0,0
4,nationwideclass no it is not behaving at all i...,0,21,111,4.285714,10,0,1,0,1,[],0,0

Removing multiple spaces

In [39]:
x= "Hi,                            what's going on?"

' '.join(x.split())

"Hi, what's going on?"

In [40]:
df['tweet']= df['tweet'].apply(lambda x: ' '.join(x.split()))

In [41]:
df.sample(2)

,tweet,sentiment,word_counts,char_counts,avg_word_len,stop_words_counts,hashtags_count,mentions_count,numerics_count,upper_counts,email,emails_count,urls_flag
63281,nice enough out this monring 2 let in some coo...,0,25,134,4.360,10,0,0,2,0,[],0,0
1337535,licianguyen lol i am on my way beautiful,4,8,43,4.375,2,0,1,0,0,[],0,0

Remove HTML tags

In [42]:
from bs4 import BeautifulSoup

In [43]:
x = '<html><h2>Thanks for watching</h2></html>'

In [44]:
BeautifulSoup(x, 'lxml').get_text()

'Thanks for watching'

In [45]:
%%time
df['tweet']= df['tweet'].apply(lambda x: BeautifulSoup(x, 'lxml').get_text())

CPU times: user 7min 21s, sys: 10.8 s, total: 7min 32s
Wall time: 8min 54s

Remove accented Chars

In [46]:
import unicodedata
x= 'Têxto com acêntó'

In [48]:
def remove_accented_chars(x):
    x= unicodedata.normalize('NFKD', x).encode('ascii', 'ignore').decode('utf-8', 'ignore')
    return x

In [49]:
remove_accented_charsve_accented_chars(x)

'Texto com acento'

###Spacy and NLP

Remove Stop Words

In [51]:
import spacy

In [53]:
x= 'this is stop word removal code is a and how what'

' '.join(t for t in x.split() if t not in STOP_WORDS)

'stop word removal code'

In [54]:
df['tweet']= df['tweet'].apply(lambda x: ' '.join([t for t in x.split() if t not in STOP_WORDS]))

In [55]:
df.head()

,tweet,sentiment,word_counts,char_counts,avg_word_len,stop_words_counts,hashtags_count,mentions_count,numerics_count,upper_counts,email,emails_count,urls_flag
0,switchfoot - awww bummer shoulda got david car...,0,19,115,5.052632,4,0,1,0,1,[],0,1
1,upset update facebook texting cry result schoo...,0,21,111,4.285714,9,0,0,0,0,[],0,0
2,kenichan dived times ball managed save 50 rest...,0,18,89,3.944444,7,0,1,0,1,[],0,0
3,body feels itchy like fire,0,10,47,3.700000,5,0,0,0,0,[],0,0
4,nationwideclass behaving mad,0,21,111,4.285714,10,0,1,0,1,[],0,0

Convert into base or root form of word

In [57]:
nlp= spacy.load('en_core_web_sm')

In [58]:
x= 'kenichan dived times ball managed save 50 rest'

In [66]:
def make_to_base(x):
    x_list= []
    doc= nlp(x)
    
    for token in doc:
        lemma = str(token.lemma_)
        if lemma == '-PRON-' or lemma == 'be':
            lemma = token.text
        x_list.append(lemma)
    print(' '.join(x_list))

In [67]:
make_to_base(x)

kenichan dive time ball manage save 50 rest

Obs: não vamos utilizar essa função ao dataset, pois levaria muito tempo para finalizar devido a estar utilizando a máquina local nestes exercícios.

Common words removal

In [69]:
' '.join(df.head()['tweet'])

'switchfoot - awww bummer shoulda got david carr day d upset update facebook texting cry result school today blah kenichan dived times ball managed save 50 rest bounds body feels itchy like fire nationwideclass behaving mad'

In [70]:
#Juntando todos os tweets em uma única string
text= ' '.join(df['tweet'])

In [71]:
#Separando cada palavra dos tweets em um única lista
text= text.split()

#Transformando a lista gerada em uma Serie Pandas e contando a ocorrência das palavras
freq_comm= pd.Series(text).value_counts()

In [73]:
print(freq_comm.head())

print()

print(freq_comm.tail())

good     89366
day      82299
like     77735
-        69662
today    64512
dtype: int64

obsessiveness    1
dmackintosh      1
robbyam          1
mhike            1
lewistyree       1
dtype: int64

In [74]:
f20= freq_comm[:20]
f20

good      89366
day       82299
like      77735
-         69662
today     64512
going     64078
love      63421
work      62804
got       60749
time      56081
lol       55094
know      51172
im        50147
want      42070
new       41995
think     41040
night     41029
amp       40616
thanks    39311
home      39168
dtype: int64

In [75]:
df['tweet']= df['tweet'].apply(lambda x: ' '.join([t for t in x.split() if t not in f20]))

Rare Words removal

In [ ]:
rare= freq_comm[freq_comm.values == 1]

In [ ]:
print(f'Total de palavras que só ocorrem uma vez nos 16 milhões tweets: {len(rare)}')

In [ ]:
rare20= freq_comm[-20:]

In [ ]:
df['tweet']= df['tweet'].apply(lambda x: ' '.join([t for t in x.split() if t not in rare20]))

In [ ]:
df.head()